*{
    background-color: #d3d3d3;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    
    
}
body{
    background-color: white;
}
ul{
    list-style: none;
    
}
a{
    text-decoration: none;
    
}
#site-header{
    color:black;
    display: inline-block;
    
    
}
.menu-item{
    display: inline-block;
    position: relative;
    
    
    
}
.menu-link{
    color: black;
    padding: 25px;
    display: inline-block;
    background-color:white;
    font-weight: bolder;
    
}
.menu-list, .navigation {
    background-color:white;
    display: inline-block;
}