* {
  font-family: "Source Sans Pro";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-principal: #f4f4f4;
  --cor-preto: #000;
  --cor-branca: #fff;
  --tamanho-fonte: 20px;
}

body {
  background-color: var(--cor-principal);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
ul {
  list-style: none;
}
.navigation {
  color: var(--cor-preto);
  display: block;
  background-color: white;
  text-align: center;
  font-size: var(--tamanho-fonte);
}
.menu-item {
  display: inline-block;
  position: relative;
  text-align: center;
}
.menu-link {
  color: var(--cor-preto);
  padding: 25px;
  display: inline-block;
  background-color: white;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
}

.titulo {
  text-align: center;
  color: black;
  padding-top: 55px;
}

.subtitulo {
  text-align: center;
  color: #353333;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*SESSÃO CARDS*/
.sessao-cards {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 5% 0;
}
.card {
  width: 270px;
  height: 150px;
  background-color: var(--cor-branca);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.icon {
  margin-top: 0.1px;
  width: 48px;
  height: 48px;
}

.texto-card {
  font-size: var(--tamanho-fonte);
  font-family: sans-serif;
  margin-top: 0.1px;
  color: #333;
}

.botao {
  margin-top: 10px;
  padding: 15px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: rgb(63, 55, 55);
  display: inline-block;
  border-radius: 10px;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.conteudo-botao {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  flex: 1;
}
main {
  background-color: transparent;
  border: 0;
  flex: 1;
}
footer {
  background-color: #000000;
  color: var(--cor-branca);
  text-align: center;
  padding: 28px;
  position: relative;
  bottom: 0;
  width: 100%;
}
#footer_copyright {
  width: 200px;
  margin: 0 auto;
  font-size: var(--tamanho-fonte);
  letter-spacing: 0.6px;
}

/* Media da HOME */

@media (max-width: 425px) {
  .menu-link {
    padding: 23px;
    font-size: 18px;
  }
  .sessao-cards {
    display: block;
    margin: 18%;
  }

  h1 {
    margin-left: 4%;
  }

  p {
    margin-left: 2%;
    margin-bottom: 1%;
    padding: 1%;
  }

  .card {
    margin-top: 10%;
  }

  .botao-site {
    margin-bottom: 15%;
  }

  .botao {
    padding: 4% 8%;
  }
}
